{% extends "base.html" %}

{% block js %}

{% endblock %}

{% block content %}

<h2>Privacy Policy</h2>

<p>
  <a href="http://www.nyctbike.com">nyctbike.com</a> has created this privacy statement in order to
  demonstrate our firm commitment to your privacy.
</p>


<ol id="licence">
  <li>What information do we collect?</li>

  <p>We may collect, store and use the following kinds of personal
    data:</p>

  <ol class="list_a">
    <li> information about your computer and about your visits to and use of this website, such as your IP address, geographical location, browser type, referral source, length of visit and number of page views;</li>
    <li> information that you provide to us for the purpose of registering with us;</li>
    <li> information that you provide to us for the purpose of subscribing to our website services, email notifications and / or newsletters;</li>
    <li> and  any other information that you choose to send to us.</li>
  </ol>

  <p></p>

  <li>Using your personal data</li>

  <p>Personal data submitted on this website will be used for the
    purposes specified in this privacy policy or in relevant parts of
    the website.  We may use your personal information to:</p>

  <ol class="list_a">
    <li> administer the website;</li>
    <li> improve your browsing experience by personalizing the website;</li>
    <li> enable your use of the services available on the website;</li>
    <li> send you general (non-marketing) communications and</li>
    <li> send you email notifications which you have specifically requested</li>
  </ol>

  <p> We will not provide your personal information to any third parties for the purpose of direct marketing.</p>

  <li>Other disclosures</li>

  <p>In addition to the disclosures reasonably necessary for the
    purposes identified elsewhere in this privacy policy, we may
    disclose information:</p>

  <ol class="list_a">
    <li> to the extent that we are required to do so by law;</li>
    <li> in connection with any legal proceedings or prospective legal proceedings;</li>
    <li> in order to establish, exercise or defend our legal rights;</li>
    <li> and to the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating) selling.</li>
  </ol>

  <p>Except as provided in this privacy policy, we will not provide your information to third parties.</p>


  <li>Security of your personal data</li>

  <p> We will take reasonable technical and organizational precautions
    to prevent the loss, misuse or alteration of your personal
    information.  Of course, data transmission over the internet is
    inherently insecure, and we cannot guarantee the security of data
    sent over the internet.  You are responsible for keeping your
    password and user details confidential. We will not ask you for
    your password.</p>

  <li>Policy amendments</li>

  <p>  We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.</p>

  <li>Third party websites</li>

  <p>  The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.</p>

  <li>Contact</li>

  <p>If you have any questions about this privacy policy or our treatment of your personal data, please <a href="mailto:nyctbike@gmail.com">contact us</a>.</p>

</ol>


{% endblock %}

